@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600&family=Roboto:wght@100;400&display=swap');


body {
    scrollbar-width: thin;
    scrollbar-color: #2d40b2 #050606;

}

body::-webkit-scrollbar {
    width: 6px;
}e
body::-webkit-scrollbar-track {
    background: #050606;
}

body::-webkit-scrollbar-thumb {
    background-color: #2d40b2;
    border-radius: 32px;
}

.phone-anim {
    transform: translateY(0);
    animation: float 4s ease-in-out infinite;
    animation-delay: 2s;

}



@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);

    }
    100% {
        transform: translateY(0);
    }
}
